.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin: 80px auto;
}
.hero h1{
    font-size: max(4vw, 36px);
    color: #FFFFFF;
    

}
.hero p{
    color: #FFFFFF;
    line-height: 1.5;
}
.hero form{
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 80%;
    align-items: center;
    height: 50px;

}
.hero input{
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding-left: 10px;
    height:40px;
}
.hero button{
    background: #7927ff;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.crypto-table {
    max-width: 1000px;
    margin: auto;
    background: linear-gradient(rgba(84,3,255,0.15), rgba(105,2,153,0.15));
    border-radius: 15px;
    padding: 10px 0;
}

.table-layout {
    display: grid;
    grid-template-columns: 60px minmax(200px, 2fr) 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
    gap: 20px;
}

.table-layout:first-child {
    font-weight: 500;
    color: #aaa;
}

.table-layout:last-child {
    border: none;
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 200px;
}

.table-layout img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

/* Price column */
.table-layout > p:nth-child(3) {
    text-align: right;
    padding-right: 20px;
}

/* 24h Change column */
.table-layout > p:nth-child(4) {
    text-align: center;
}

/* Market cap column */
.market-cap {
    text-align: right;
}

.table-layout .green {
    color: #00D515;
}

.table-layout .red {
    color: #FF4C4C;
}

@media(max-width:768px){
    .table-layout{
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .market-cap{
        display:none;
    }
}


@media(max-width:500px){

    .table-layout div img{
        width:25px;
    }
    .table-layout{
        font-size: 13px;
    }
    .hero form input{

        width:100px;
    }



}
