@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  background: linear-gradient(#300358,#574188,#114251);
  color: white;
  min-height: 100vh;
}